{% extends "app/layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                用户管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <button class="btn btn-link linkBtn" data-url="/app/user/index">用户管理</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                影片管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <button class="btn btn-link linkBtn" data-url="app/user/index">分类管理</button>
                            <button class="btn btn-link linkBtn" data-url="app/user/index">电影管理</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container" id="content">
                <div class="jumbotron">
                    <h1>向我们的第一个项目致敬 ! !</h1>
                </div>
            </div>
        </div>
    </div>
    <script>
        let preLink = ''
        $(".linkBtn").click(function () {
            let url = this.dataset.url;
            if (preLink === url) {
                return
            }
            $("#content").load(url)
        })
    </script>
{% endblock %}