<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>向我的第一个项目致敬</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-3.5.1.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</head>
<body>
<div style="padding:30px;">
  <div class="container">
    <div class="jumbotron">
      <h1>向我的第一个项目致敬</h1>
      <p> 感谢我的导员和同学们！</p>
      <p><a class="btn btn-primary btn-lg" href="login" role="button">Learn more</a></p>
    </div>
  </div>
</div>
</body>
</html>